
<script src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/lib/sockjs.min.js") }}"></script>
<!--
  full client library or all individual files, depending
  on the server mode - should be the preferred variant
-->
{% assets "js_client" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}


<div class="container">
<form class="form-horizontal">
<fieldset>
<Legend> Bed Level by Dial Indictor </legend>

<div class="control-group">
    <label class="control-label" for="dial_value">Dial</label>
    <div class="controls">
        <span class="input-xlarge uneditable-input" data-bind="text: dial_value">Null</span>
        <button class="btn btn-primary" data-bind="click: getDialValue">{{ _('Get Dial Value') }}</button>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="grid_size">Grid Size</label>
    <div class="controls">
        <select id="grid_size">
            <option value="3" >3x3</option>
            <option value="5" >5x5</option>
            <option value="7" >7x7</option>
            <option value="9">9x9</option>
            <option value="11"> 11x11</option>
        </select>
    </div>
</div>

<label>Mesh Status</label>
<span class="help-block">Click the botton to trigger grid alignment </span>
<div class="row-fluid control-group text-center control-group">
<div class="row-fluid align-items-center">
   <div class="span1"> J2</div>
    <button class="btn span1">1</button>
    <button class="btn span1">1</button>
    <button class="btn span1">1</button>
</div>
<div class="row-fluid align-items-center">
    <div class="span1"> J1</div>
    <button class="btn span1">2</button>
    <button class="btn span1">2</button>
    <button class="btn span1">2</button>
</div>
<div class="row-fluid align-items-center">
    <div class="span1"> J0</div>
    <button class="btn span1">3</button>
    <button class="btn span1">3</button>
    <button class="btn span1">3</button>
</div>
<div class="row-fluid align-items-center">
    <div class="span1"> </div>
    <div class="span1"> I0</div>
    <div class="span1"> I1</div>
    <div class="span1"> I2</div>
</div>
</div>
</fieldset>
</form>
</div>
